*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #909aad;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
body { 
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 400;
    color: #9ba4b0;
    letter-spacing: 0.1px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
/* --- default styles --- */
.title-default { 
    font-size: 18px;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-transform: uppercase;
    color: #859aa1;
    position: relative;
}
.title-default b{ 
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.25px;
    line-height: 31px;
    text-transform: uppercase;
    color: #556b72;
}
.title-footer{
    color: #fff;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    padding-bottom: 25px;
    font-weight: 600;
}
.title-default::after { 
    content: "";
    width: 21px;
    height: 2px;
    top:-7px;
    left:0;
    position: absolute;
    background-color: #ff8261;
    margin-bottom: 12px;
}
.bth-default {
    width: 195px;
    height: 55px;
    background-color: #ff8261;
    text-align: center;
    line-height: 55px;
    top: auto;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}
.logo-default img,p {
    vertical-align: middle;
}
.logo-default img {
    padding-right: 10px;
}
.logo-default p {
    text-transform: uppercase;
    color: #161920;
    font-weight: 800;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.1px;
}
/* --- \def styles --- */

/* --- header --- */
.header { 
    min-height: 160px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 0px 15px;
}
.header__top-side li{
    display: inline-block;  
}
.header__top-side {
    align-self: center;
    border-top: 1px solid #e1e9f2;
    border-bottom: 1px solid #e1e9f2;
    padding: 20px 0px 20px 68px;
    width: 460px;
    
}
.header__top-side a {
    color: #9ba4b0;
}
.header__support{
    color: #484e57!important; 
    font-weight: 600;
}
.header__info{
    padding-right: 18px;
}

.header__register:before{
    content: "";
    padding: 0px 10px;
    border-left: 1px solid #e1e9f2;
    
}
.header__register:after{
    content: "";
    padding: 0px 10px;
    border-right: 1px solid #e1e9f2;
}

.header__login{
    padding-left: 18px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.menu li{
    display: inline-block;
}

.menu a{
    background-color: #ff8261;
    padding: 23px 26px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.8px;
}
.menu a:hover {
    background-color: #52cbf8;
    transition: all .1s;
}
/* --- \header --- */

/* --- slider --- */
.slider{
    background-image: url(../img/slider-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 570px;
}
.slider__inner{
    position: relative;
    height: 570px;
    z-index: 5;
}
.slider__item-content {
    text-align: center;
    padding-top: 370px;
    padding-bottom: 55px;
    max-width: 555px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
}
.slider__title{
    font-size: 40px;
    letter-spacing: 0.25px;
    font-weight: 900;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.6),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
    
}
.slider__text{
    font-size: 20px;
    letter-spacing: 0.95px;
    font-weight: 400;
    text-shadow: 0px 15px 5px rgba(255, 255, 255, 0.4),
                 10px 20px 5px rgba(255, 255, 255, 0.1),
                 -10px 20px 5px rgba(255, 255, 255, 0.05);
}

.slider__inner::after { 
    content: '\e906';
    font-family: 'icomoon';
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 15px;
    width: 30px;
    height: 30px;  
    border: 2px solid #e5e9f494;
    border-radius: 25px;
    cursor: pointer;
}

.slider__inner::before { 
    content: '\e905';
    font-family: 'icomoon';
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 30px;
    height: 30px;  
    border: 2px solid #e5e9f494;
    border-radius: 25px;
    cursor: pointer;
}
/* --- \slider --- */

/* --- search --- */
.search{
    width:100%;
    height: 200px;
    background-color: #e7f4f8;
}
.search .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.search__title { 
    padding-right: 25px;
    position: relative;
}
.search__title::after{
    content: '\e904';
    font-family: 'icomoon';
    background-color: transparent;
    position: absolute;
    top:-25px;
    left:0;
    font-size: 20px;
    color: orangered;

}
.domain.input-default{
    width: 430px;
    height: 55px;
    border: 1px ridge #dfeef3;
    padding-left: 25px;
    color: #a0a9b6;
    margin-right: 10px;
    outline: none;
    transition: 0.2s ease all;
}
.domain.input-default:focus{
    border: 1px ridge #5264AE;
}
.domain.input-default::placeholder{
    color: #a0a9b6;
}
.select-default{
    width: 165px;
    height: 55px;
    border: 1px ridge #dfeef3;
    padding-left: 25px;
    padding-right: 20px;
    color: #a0a9b6;
    margin-right: 10px;
    outline: none;
 
    transition: 0.2s;
}
.select-default:focus{
    border: 1px solid #5264AE;
}
/* --- benefits --- */
.benefits .container{ 
    padding-top: 80px;
    padding-bottom: 115px;
}
.benefits__title { 
    margin-bottom: 25px;
}
.benefits_content{ 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}
.benefits__item { 
    width: 350px;
    height: 120px;
    padding-left: 90px;
    margin-bottom: 12px;
    position: relative;
}
.benefits__item-title {
    font-size: 16px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0.25px;
    color: #556b72;
    text-transform: uppercase;
}
.benefits__item-text {
    line-height: 24px;
    color: #a0a9b6;
}
.benefits__item::before {
    font-family: 'icomoon';
    position: absolute;
    top: -5px;
    left: 0px;
    color: #ff8261;
    font-size: 60px;
}
        /* +++ DNS +++  */
.benefits__item:nth-child(1):before { 
    content: '\e9bc';
}
        /* +++ DNS +++  */
.benefits__item:nth-child(2):before { 
    content: '\e994';
}
    /* +++ SUPPORT +++  */
.benefits__item:nth-child(3):before { 
    content: '\e970';
}
    /* +++ DOMAIN +++  */
.benefits__item:nth-child(4):before { 
    content: '\e903';
}
    /* +++ PROTECT +++  */
.benefits__item:nth-child(5):before { 
    content: '\e901';
}
    /* +++ SECURITY +++  */
.benefits__item:nth-child(6):before { 
    content: '\e902';
}
/* --- \benefits --- */

/* --- promo --- */
.promo {
    width:100%;
    height: 380px;
    background-color: #fffbde;

}
.promo .container {
    height: 100%;
    padding-bottom: 125px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

}
.promo .hot {
    align-self: flex-end;
}
.hot__title {
    padding-bottom: 33px;
} 
.coupon {
    text-transform: uppercase;
    width: 360px;
    height: 115px;
    background-color: #fff;
    padding: 10px;
}
.coupon__wrapper {
    border: 2px solid #fffbde; 
    height: 100%;
    padding: 10px;
}
.coupon__content { 
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
}
.coupon__content .sale {
    color: #ff8261;
    line-height: 28px;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.25px;
    width: 65%;
}
.coupon__content .sale b {
    color: #52cbf8;
}
.coupon__content .sale::first-line {
    color: #97947f;
    font-size: 14px;
}
.coupon__content .term {
    align-self: flex-end;
    line-height: 20px;
}
.coupon__content .term b{
    color: #4c515b;
    letter-spacing: -0.25px;
    font-size: 17px;
}
.coupon__content .term b{
    color: #4c515b;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 17px;
}
.features {
    height: 200px;
    width: 37%;
    align-self: flex-end;
}
.features__title {
    padding-bottom: 33px;
}
.features__list {
    display: flex;
    justify-content: space-between;
}
.features__list .col1{ 
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.features__list .col2{ 
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.feature__item  { 
    padding: 5px 0px 10px 15px;
    position: relative;
    color: #696556;
}
.feature__item::after  { 
    content: '\e905';
    height: 80%;
    font-family: 'icomoon';
    color: #4c515b;
    font-weight: 900;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
}
.promo .bth-default {
    align-self: flex-end;
}
/* --- \promo --- */

/* --- Plans --- */
.plans .container {
    padding-top: 95px;
    padding-bottom: 110px;

}
.plans__list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.plans__title{ 
    margin-bottom: 28px;
}

.plans__item {
    height: 500px;
    width: 265px;
    text-align: center;
    border: 1px solid #e1eff4;
    padding: 10px;
    display:flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.plan__price {
    color: #556b72;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 30px;
}
.plan__price-title {
    font-size: 50px;
    font-weight: 100;
    font-weight: bolder;
}
.plan__price-title::first-letter {
    font-size: 50px;
    font-weight: 300;
}
.plan__price-subtitle {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1;
}
.plan__name {
    width: 185px;
    height: 40px;
    background-color: #52cbf8;
    text-align: center;
    line-height: 40px;
    top: auto;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}
.plan__advantages {
    width: 85%;
    margin-top: 25px;
}
.plan__advantages .advantage {
    padding-top: 13px;

}
.plan__advantages .advantage:first-child {
    padding-top: 0px;
}
.advantage:nth-child(-n+4)  {
    width: 100%;
    border-bottom: 1px solid #c8d4dd;
    padding-bottom: 13px;
}
.plans__item .bth-default {
    margin-bottom: 24px;
    margin-top: 24px;
}
/* --- \Plans --- */

/* --- domain__subscribe --- */
.domain__subscribe {
    height: 230px;
    width:100%;
    background-color: #e7f4f8;
}
.domain__subscribe .container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.domain__subscribe .subscribe.input-default {
    width: 720px;
    margin-right: 0;
}
/* --- \domain__subscribe --- */

/* --- footer --- */
.footer {
    width:100%;
    height: 385px;
    background-color: #4c515b;
}
.footer .container{
    padding-top: 100px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer .footer__logo {
    position: relative;
    align-self: center; 
    width: 235px;
}
.footer .footer__logo p{
    width: 165px;
    color: #e7f4f8;
}
.footer__logo-copyright {
    display: inline;
    position: absolute;
    margin-left: 57px;
    color: #909aad;
    line-height: 30px;
    top: 40px;
}
.footer__links__list {
    width: 240px;
    height: 180px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
}
.footer__links li{
    padding-bottom: 15px;
    width: 100px;
}
.footer__contacts {
    width: 210px;
}
.footer__contacts.title-footer{
    padding-bottom: 17px;
}
.footer__contacts-wrapper {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.footer__contacts-wrapper a{
    line-height: 30px;
}
.footer__adress {
    color : #fff;
}
.footer__email {
    color : #fff;
}
.footer__call {
    color : #fff;
}
.footer__media .title-footer {
    padding-bottom: 15px;
}
.footer__media-list {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap; 
}
.footer__media-list li {
    width: 38px;
    height: 38px;
}
.footer__media-facebook:before {
    content: "\ea90";
    color: #909aad;
    font-size: 24px;
    line-height: 48px;
    font-family: 'icomoon';
}
.footer__media-twitter:before {
    content: "\ea96";
    color: #909aad;
    font-size: 24px;
    line-height: 48px;
    font-family: 'icomoon';
}
.footer__media-linkedin:before {
    content: "\eaca";
    color: #909aad;
    font-size: 24px;
    line-height: 48px;
    font-family: 'icomoon';
}
.footer__media-google:before {
    content: "\e900";
    color: #909aad;
    font-size: 24px;
    line-height: 48px;
    font-family: 'icomoon';
}
/* --- \footer --- */
























